/*- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */
.exam {
  background: #0c8599 !important;
  color: #fff;
  height: 40px;
}
.btn {
  font-size: 20;
  border-radius: 2px;
  background-color: #0c8599 !important;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  margin-top: 1.6rem;
  padding: 0.6rem 3.2rem;
  border: none !important;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-top: 2.4rem;
  text-align: center;
  display: block;
  transition: 0.3s all ease-in;
  margin-bottom: 2.4rem;
}
.btn:hover {
  background-color: #0a6a7a !important;
}
.mt2 {
  margin-top: 1rem;
}
